; vim: set fileencoding=utf-8 :
; Elie Khoury <Elie.Khoury@idiap.ch>
; Thu Jan  10 11:44:21 CEST 2013
;This is the configuration file for buildout.

[buildout]
parts = scripts
newest = false
develop = .

eggs = bob>=1.2.0
       gridtk>=1.0.3
       xbob.spkrec

[scripts]
recipe = xbob.buildout:scripts
