; vim: set fileencoding=utf-8 :
; Elie Khoury <Elie.Khoury@idiap.ch>
; Thu Jan  10 11:44:21 CEST 2013
;This is the configuration file for buildout.

[buildout]
parts = scripts
newest = false
develop = .

eggs = bob>=1.2.0
       facereclib
       gridtk>=0.3.5
       xbob.spkrec

; prefixes = /idiap/group/torch5spro/releases/bob-1.2.0/install/linux-x86_64-release/

[scripts]
recipe = xbob.buildout:scripts
